body {
    font-family: Arial, sans-serif;
}

.card-produto {
    transition: 0.3s;
}

.card-produto:hover {
    transform: translateY(-5px);
}

#modal-carrinho {
    backdrop-filter: blur(5px);
}

.btn-comprar {
    transition: 0.3s;
}

.btn-comprar:hover {
    transform: scale(1.05);
}